body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dense-cell-header {
    padding: 0 !important;
}

.dense-cell {
    padding: 2px 20px 2px 0px !important;
}

.comma-list {
    display: inline;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.comma-list li {
    display: inline;
    text-decoration: dotted underline;
}

.comma-list li::after {
    content: ", ";
    text-decoration: none;
}

.comma-list li:last-child::after {
    content: "";
    text-decoration: none;
}

.upgrade-list {
    display: inline;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.upgrade-list li {
    display: inline;
}

.upgrade-list li:hover {
    cursor: help;
}

.upgrade-list li::after {
    content: ", ";
    text-decoration: none;
}

.upgrade-list li:last-child::after {
    content: "";
    text-decoration: none;
}
